/* .footer{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, #666, #333);
}
.p-f{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
} */